body{
    padding: 0;
    background-color: #F1F1F1;
}

.title{
    color: black;
    padding-bottom: 5%;
}
.link{
    text-decoration: none;
}

.line{
    background-color: black;
    opacity: 20%;
    margin-top:20px; line-height: 10%;
    width:92%; height: 1%;
    color: transparent;
}

.but{
    height: 40px;
    width: 120px;
    border: none;
    border-radius: 30px;
    margin-top: 48px;
    margin-left: 0px;
    background-color: #d3d3d3;
    
    
}

.cubes{
    margin-left: 170px;
}
.cube1{
    margin-top: 55px;
    margin-left: 20px;
    background-color: #E1E0E6;
    width: 24px;
    height: 24px;
    color: transparent;
}

.bot_w{
    font-size: 14px;
    opacity: 50%;
    margin-left: 50%;
}
.bot_w_l{
    font-size: 14px;
    margin-left: 73%;
    margin-top: 40px;
}

.first_div{
    margin-left: 10%;
}

.first_p{
    margin-top: 16%;
    margin-left: 20px;
    font-size: 18px;
}

.image{
    width: 980px;
    height: 580px;
    mix-blend-mode: multiply;
}

.bot_w_2{
    font-size: 14px;
    opacity: 50%;
    margin-left: 39%;
    margin-top: 20%;

}
.bot_w_l2{
    font-size: 14px;
    margin-left: 65%;
    margin-top: 40px;
    color: black;
}